.page {
  margin: 20px 10vw;
  position: relative;
}

.table {
  margin-top: 0px;
  position: relative;
}

@media screen and (max-width: 900px) {
  .page {
    margin: 20px 1vw;
  }
}

@media screen and (max-width: 620px) {
  .page {
    margin: 1vw 1vw;
  }

  .table {
    margin-top: 26px;
  }
}

.interactions {
  text-align: left;
}


.button-inline { 
  border-width: 0; 
  background: transparent; 
  color: inherit; 
  text-align: inherit; 
  -webkit-font-smoothing: inherit; 
  padding: 0; 
  font-size: inherit; 
  cursor: pointer; 
}

.button-inline:hover {
  color: rgb(191, 56, 196)
}

.button-active { 
  color: #222
}

.table-header { 
  display: flex; 
  position: absolute;
  width: 300px;
  height: 13px;
  right: 0px;
  top: -32px;
  font-size: 12px; 
  padding: 10px 0px; 
  justify-content: flex-end; 
  align-items: flex-end;
  color: #9c9c9c
  /*border: 1px dotted red*/
}

@media screen and (max-width: 620px) {
  .table-header { 
    width: 100%;
    justify-content: space-around; 
    height: 15px;
    padding: 5px;
    top: -25px;
    background-color: white;
  }
}

.sort-icon {
  visibility: hidden;
  margin-left: 7px;
}

.sort-icon-active {
  visibility: visible;
}

.table-empty { 
  margin: 200px; 
  text-align: center; 
  font-size: 16px; 
}

.table-row { 
  display: flex; 
  line-height: 24px; 
  white-space: nowrap; 
  margin: 0px 0; 
  padding: 5px 0; 
  background: #ffffff; 
  align-items: center;
  /*border: 1px solid #e3e3e3; */
  border-top: 1px solid rgb(240, 240, 250); 
}

@media screen and (max-width: 620px) {
  .table-row { 
    height: 40px;
  }
}


.row-points {
  width: 80px;
  font-size: 24px;
  text-align: center;
}

@media screen and (max-width: 620px) {
  .row-points  { 
    font-size: 20px;
  }
}

.row-content {
  width: 100%;
  font-size: 12px;
  line-height: 18px; 
}

.row-content > div {
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}


@media screen and (max-width: 620px) {
  .row-content > div > span, .row-content > div > span> a{
    color: #777
  }
}

.row-title {
  font-size: 16px;
  line-height: 28px; 
}

@media screen and (max-width: 620px) {
  .row-title {
    font-size: 14px;
    line-height: 24px;
  }
}

.row-title > a {
  width: 100%;
}

.row-title > a >span{
  white-space: nowrap;
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}


.row-title-highlight {
  font-weight: bold;
}

.row-comments, .row-date {
  margin-left: 4px;
}

.row-date {
  font-style: italic
}

.row-button {
  width: 35px;
  font-size: 10px;
  text-align: center;
  color: #DDD;
}


.row-button button{
  height: 50px;
  width: 20px;
  padding: 0px;
}

.row-button button:hover{
  color: rgb(247, 41, 103)
}

.table-header > span { 
  padding: 0 10px; 
}

.table-row > span { 
  overflow: hidden; 
  padding: 0 5px; 
}

@media screen and (max-width: 620px) {
  .table-row > span {
    padding: 0px; 
  }
}

.message-footer {
  /*display: flex;*/
  margin-top: 50px;
  margin-bottom: 120px;
  text-align: center;
  justify-content: center;
  color: #BBB
}

.load-more-button {
  margin-top: 20px;
  font-size: 12px;
  color: #BBB
}



.loading-icon {
  margin-top: 70px;
  color: rgb(167, 200, 216)
}

.search-form-container{
  display: flex;
}

.search-form {
  height: 35px;
  padding: 0px;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 620px) {
  .search-form {
    flex-grow: 1;
  }
}

.search-form input{
  flex-grow: 1;
}

.home-button{
  display: flex;
  align-items: flex-end;
  margin: 0px;
  color: #ff742b;
  padding: 0px;
  height: 35px;
  line-height: 0px;
  border: none;
}

.home-button svg{
  padding: 0px;
}




/*
button {
  border: 1px dotted red !important;
}
*/