@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');

body {
  color: #444;
  background: #eef3f5;
  font: 400 14px Roboto, CoreSans, Arial, sans-serif;
  margin: 0px;
  min-width: 330px;
}

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  /*text-decoration: underline;*/
  color: rgb(8, 188, 219) !important;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  padding: 0px 10px;
  height: 35px;
  outline: none;
  border: 0px solid #ddd;
  /*border-bottom: 1px solid #eef3f5;*/
}

button {
  padding: 10px;
  border: 0px solid #dddddd; 
  background: transparent; 
  color: #808080; 
  cursor: pointer;

}

button:hover {
  color: rgb(67, 216, 99);
}

button:focus {outline:0;}
