body {
  color: #444;
  background: #eef3f5;
  font: 400 14px CoreSans, Arial, sans-serif;
  margin: 0px;
}

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  /*text-decoration: underline;*/
  color: rgb(8, 188, 219);
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  padding: 10px;
  outline: none;
  margin-right: 10px;
  border: 0px solid #ddd;
  border-bottom: 1px solid #ddd;
}

button {
  padding: 10px;
  border: 0px solid #dddddd; 
  background: transparent; 
  color: #808080; 
  cursor: pointer
}

button:hover {
  color: #222;
}

button:focus {outline:0;}
